body {
    font-family: Arial, sans-serif;
}

#shoe-list {
    display: flex;
    flex-wrap: wrap;
}

#shoe-list div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}
